
#head{
    font-size:50px;
    color:	#778899;
}
.jumbotron{
    box-shadow: 1px 1px 5px 5px #f2f2f2;
    padding: 1px;


}
hr{
    color: gray;
}
h3{
    color:	#778899;
    margin-left: 10px;

}
#border{
  border: 10px solid transparent;
  padding: 100px;  
  border-image-slice: 40;
  border-image: url(assets/border.png) 30 round;
}
p{
    position: relative;
    bottom:90px;
    color:#778899;
    font-size: 20px;
}
#pass{
    font-size: 20px;
    text-decoration: underline;
    text-justify:inter-cluster;
    color:black;

}
.form-control{
    resize: none;
    border: none;
}

#button_1{
    background-color: #cc3300;
    color:white;
}
#button_2{
    color: white;
    background-color: #e6e6e6;
}

@media only screen and (max-width: 600px) {




    #button_1{
        width: 30%;
        font-size: 30%;
    }
    #button_2{
        width: 30%;
        font-size: 30%;
    }
}