#box_1{
    background-color:#e6f2ff;



}
#head{
    font-size:50px;
    color:	#778899;
}
.jumbotron{
    box-shadow: 1px 1px 5px 5px #f2f2f2;
    padding: 1px;


}
hr{
    color: gray;
}
h3{
    color:	#778899;
    margin-left: 10px;

}